@font-face {
  font-family: "Cupra";
  src: url("../fonts/Cupra-Regular.woff2") format("woff2"),
  url("../fonts/Cupra-Regular.woff") format("woff"),
  url("../fonts/Cupra-Regular.otf") format("otf"),
  url("../fonts/Cupra-Regular.ttf") format("ttf"),
  url("../fonts/Cupra-Regular.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  background: #1a4f45;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Cupra", sans-serif;
}
button{
  background: 0;
}
.phone {
  position: relative;
  height: 621px;
  width: 361px;
  display: flex;
  justify-content: center;
}
.phone__media {
  height: 621px;
  width: 361px;
  position: absolute;
}
.container {
  width: 320px;
  height: 480px;
  box-sizing: border-box;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 11.5%;
  margin: auto;
  z-index: 20;
}
@media screen and (max-width: 900px) {
  body {
    align-items: center;
    justify-content: center;
    background: #ffffff;
  }
  .phone__media {
    display: none;
  }
  .container {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    top: 0;
    left: 0;
    margin: auto;
  }
  .phone {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
}
.slide {
  background: url(../img/car.jpg);
  background-position: 82% 60%;
  background-size: 1136px 568px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px;
}
@media screen and (max-width: 768px) {
  .slide {
    background-position: 95% 70%;
    background-size: 2048px 1024px;
  }
}
@media screen and (max-width: 414px) {
  .slide {
    background-position: 79% 60%;
    background-size: 1472px 736px;
  }
}
@media screen and (max-width: 411px) {
  .slide {
    background-position: 79% 60%;
    background-size: 1646px 823px;
  }
}
@media screen and (max-width: 360px) {
  .slide {
    background-position: 79% 60%;
    background-size: 1280px 640px;
  }
}
@media screen and (max-width: 375px) {
  .slide {
    background-position: 79% 60%;
    background-size: 1624px 812px;
  }
}
@media screen and (max-width: 320px) {
  .slide {
    background-position: 79% 60%;
    background-size: 1136px 568px;
  }
}

.slider__popup{
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.popup__text{
  padding: 35px;
}
.popup__close{
  position: absolute;
  right: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
}
.close__media{
  fill: #fff;
}
.slide__text {
  margin-bottom: 5px;
  font-size: 1.5em;
  text-transform: uppercase;
}
.slider__btn{
  width: 40%;
  margin-bottom: 10px;
}
.btn__media{
  width: 100%;
}
.slide__bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.bottom__text{
  font-size: 0.2rem;
}
.bottom__logo{
  width: 25%;
}
.logo__media{
  display: flex;
  width: 100%;
}