@font-face {
  font-family: "Cupra";
  src: url("../fonts/Cupra-Regular.woff2") format("woff2"),
    url("../fonts/Cupra-Regular.woff") format("woff"),
    url("../fonts/Cupra-Regular.otf") format("otf"),
    url("../fonts/Cupra-Regular.ttf") format("ttf"),
    url("../fonts/Cupra-Regular.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  background: #1a4f45;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Cupra", sans-serif;
}
button {
  background: 0;
}
.phone {
  position: relative;
  height: 621px;
  width: 361px;
  display: flex;
  justify-content: center;
}
.phone__media {
  height: 621px;
  width: 361px;
  position: absolute;
}
.container {
  background: url(../img/car.jpg);
  background-position: 82% 60%;
  background-size: 1136px 568px;
  width: 320px;
  height: 480px;
  box-sizing: border-box;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 11.5%;
  margin: auto;
  z-index: 20;
  transition: 0.5s ease;
}

.slide {
  background: 0;
  background-position: 82% 60%;
  background-size: 1136px 568px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px;
}

.slider__popup {
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.popup__text {
  padding: 35px;
}
.popup__close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 5%;
  height: 5%;
}
.close__media {
  fill: #fff;
}
.slide__text {
  margin-bottom: 5px;
  font-size: 1.5em;
  text-transform: uppercase;
}
.slider__btn {
  width: 40%;
  margin-bottom: 10px;
}
.btn__media {
  width: 100%;
}
.slide__bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.bottom__logo {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom__text {
  font-size: 0.2rem;
}
.logo__media {
  display: flex;
  width: 95%;
}
@media screen and (max-width: 1080px) and (orientation: portrait) {
  .container {
    background-position: 79% 80%;
    background-size: 4680px 2340px;
  }
  body {
    align-items: center;
    justify-content: center;
    background: #ffffff;
  }
  .phone__media {
    display: none;
  }
  .container {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .container{
    overflow: hidden;
  }
  .phone {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    /* height: calc(var(--vh, 1vh) * 100); */
  }
  .popup__text {
    padding: 35px;
    font-size: 5vw;
  }
  .slide__text {
    margin-bottom: 5px;
    font-size: 8.25vw;
    text-transform: uppercase;
  }
  .bottom__text {
    font-size: 2vw;
  }
}
@media screen and (max-width: 900px) and (orientation: portrait) {
  body {
    align-items: center;
    justify-content: center;
    background: #ffffff;
  }
  .phone__media {
    display: none;
  }
  .container {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    top: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
  }
  .container{
    overflow: hidden;
  }
  .phone {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    /* height: calc(var(--vh, 1vh) * 100); */
  }
}
@media screen and (max-width: 768px) and (orientation: portrait) {
  .container {
    background-position: 95% 70%;
    background-size: 2048px 1024px;
  }
  .popup__text {
    padding: 35px;
    font-size: 2rem;
  }
  .slide__text {
    margin-bottom: 5px;
    font-size: 6rem;
    text-transform: uppercase;
  }
  .bottom__text {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 414px) and (orientation: portrait) {
  .container {
    background-position: 79% 60%;
    background-size: 1472px 736px;
  }
  .slide__text {
    margin-bottom: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .bottom__text {
    font-size: 0.3rem;
  }
}
@media screen and (max-width: 411px) and (orientation: portrait) {
  .container {
    background-position: 79% 60%;
    background-size: 1646px 823px;
  }
  .slide__text {
    margin-bottom: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .bottom__text {
    font-size: 0.3rem;
  }
}
@media screen and (max-width: 360px) and (orientation: portrait) {
  .container {
    background-position: 79% 60%;
    background-size: 1280px 640px;
  }
  .popup__text {
    padding: 35px;
    font-size: 1rem;
  }
  .slide__text {
    margin-bottom: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .bottom__text {
    font-size: 0.3rem;
  }
}
@media screen and (max-width: 375px) and (orientation: portrait) {
  .container {
    background-position: 79% 60%;
    background-size: 1624px 812px;
  }
  .slide__text {
    margin-bottom: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .bottom__text {
    font-size: 0.3rem;
  }
}
@media screen and (max-width: 320px) and (orientation: portrait) {
  .slide {
    background-position: 79% 60%;
    background-size: 1136px 568px;
  }
  .slide__text {
    margin-bottom: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .bottom__text {
    font-size: 0.3rem;
  }
}
